<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microfrontends com Single-SPA</title>
</head>
<body>
  <div id="app"></div>

  <!-- Importando o SystemJS -->
  <script src="https://unpkg.com/systemjs/dist/system.js"></script>
  <!-- Importando o Single-SPA -->
  <script src="https://unpkg.com/single-spa/lib/system/single-spa.min.js"></script>

  <!-- Arquivo de configuração do Single-SPA -->
  <script src="/single-spa-config.js"></script>
  <!-- Arquivo principal que inicializa o Single-SPA -->
  <script src="/main.js"></script>
</body>
</html>
